body{
    background-image: url('../assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

main{
    display: flex;
    flex-direction: row;
    
}

.title-destination{

}

.menu-planets{

}
.menu-planets .button-planets{

}


.destination-content{

}
.destination-content .title-planet{

}
.destination-content .content-planet{

}
.information-planet{

}


.information-planet div{

}
.information-planet div .information-distance{

} 
.information-planet div .information-travel{

}


/*tablets*/
@media screen and (max-width:728px) {
    body{
        background-image: url('../assets/destination/background-destination-tablet.jpg');
    }
}


/*celular*/
@media screen and (max-width: 600px) {
    body{
        background-image: url('../assets/destination/background-destination-mobile.jpg');
    }
}

