@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --fonte-padrao: "Montserrat", sans-serif;
    --fonte-destaque: "Oswald", sans-serif;
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}


body{
    background-color: black;
    color: white;
}


.menu{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.832), rgba(161, 161, 161, 0.523));
    width: 100vw;
}

.menu .menu-navigation .menu-navigation__nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}
.menu-navigation__nav a{
    display: flex;
    margin: 20px;
    gap: 5px;
    text-decoration: none;
    color: white;
    transition: 0.6s;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-navigation__nav a:hover{
    opacity: 0.7;
}

.menu-navigation__nav a span{
    font-family: var(--fonte-padrao);
}


/* Menu lateral escondido por padrão */
.menu-lateral {
  display: none;
}

/* Estilos gerais do botão */
.menu-toggle {
  display: none;
}

/* Aplica estilos apenas em telas de até 600px */
@media screen and (max-width: 600px) {
    .logo{
        position: relative;
        left: 88%;
    }

    .menu-navigation{
        display: none;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        background: transparent;
        border: none;
        font-size: 2rem;
        color: white;
        z-index: 1;
    }

    .menu-lateral {
        display: block;
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background-color: rgba(17, 17, 17, 0.867);
        color: white;
        transition: left 0.3s ease;
        padding: 2rem;
        z-index: 1000;
    }
    .menu-lateral ul{
        list-style-type: none;
        margin: 20px;
    }
    
    .menu-lateral ul li{
        padding: 10px;
    }

    .menu-lateral ul li a {
        display: flex;
        gap: 5px;
        text-decoration: none;
        color: white;
        transition: 0.6s;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .menu-lateral ul li a:hover {
        opacity: 0.6;
    }
    .menu-lateral ul li span{
        font-weight: bold;
    }

    .menu-lateral.mostrar {
        left: 0;
    }

    .fechar-menu{
        border-radius: 10px;
        border: none;
        width: 30px;
        height: 30px;
        transition: 0.6s;
    }
    .fechar-menu:hover{
        opacity: 0.6;
    }
}
