/*generals settings*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*intro and email sign up background*/
    --Navy850: hsl(217, 28%, 15%);

    /*main background*/
    --Navy900:hsl(218, 28%, 13%);

    /*footer background */
    --Navy950: hsl(216, 53%, 9%);

    /*testimonials background*/
    --Navy800: hsl(219, 30%, 18%);

    /*inside call-to-action gradient*/
    --Teal200: hsl(176, 68%, 64%);
    --Cyan500: hsl(198, 60%, 50%);

    --Red500: hsl(0, 100%, 63%); /*error*/
    --White: hsl(0, 0%, 100%);
    
    /*default fonts*/
    /*Headings,Call-to-actions, Header Navigation*/
    --font-1: "Raleway", sans-serif;

    /*Body*/
    --font-2: "Open Sans", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--Navy900);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: var(--font-1);
    color: var(--White);
}
header nav a{
    text-decoration: none;
    color: var(--White);
    margin: 10px;
    transition: 0.2s;
}
header nav a:hover{
    font-weight: bold;
    text-decoration: underline;
}

main{
    color: var(--White);
}
 
h1,h2{
    font-family: var(--font-1);
}
p{
    font-family: var(--font-2);
}

.section_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color: var(--Navy850);
}

.section_intro .content{
    text-align: center;
    margin: 30px;
    width: 100%;
}
.section_intro .content h1{
    font-size: 1.7em;
}
.section_intro .content p{
    margin: 15px 0px 15px 0px;
    width: 100%;
}

.btn_start{
    padding:15px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    background-color: var(--Cyan500);
    color: white;
    transition: 0.7s;
    cursor: pointer;
    width: 500px;
}
.btn_start:hover{
    background-image: linear-gradient(to right, var(--Teal200), var(--Cyan500));
}
.section_advantages{
    display: grid;
    grid-template-columns: repeat(2,0.7fr);
    grid-template-rows: repeat(3,0.7fr);
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#article-1{grid-area: 1/1/2/2;}
#article-2{grid-area: 1/2/2/-1;}
#article-3{grid-area: 2/1/3/2;}
#article-4{grid-area: 2/2/3/-1;}
#article-5{grid-area: 3/1/-1/-1;}

.section_advantages .advantage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.section_advantages #article-5 div{
    display: flex;
}
.section_advantages #article-5 div .content_advantage_productive{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 10px;
    width: 50%;
}

.section_testimonials{
    display: flex;
    gap: 10px;
    padding: 20px;
    background-color: var(--Navy800);
}
.section_testimonials .testimonials{
    background-color: var(--Navy950);
    box-shadow: 1px 1px 10px var(--Navy900);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}
.section_testimonials .testimonials .profile{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
    margin: 20px 0px 15px 0px;
}
.section_testimonials .testimonials .profile img{
    width: 10%;
    border-radius: 100%;
}

.section_forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Navy950);
    padding: 15px;
    border-radius: 20px;
    width: 50%;
    margin: 20px auto 20px auto;
}
.section_forms .form .email{
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    margin: 10px;
}


footer{
    display: flex;
    flex-direction: column;
    color: var(--White);
    background-color: var(--Navy950);
    padding: 20px;
    height: 100%;
    width: 100%;
}

footer .logo_footer{
    width: 90%;
}
footer .content{
    display: flex;
    margin: auto;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
footer .content .description{
    width: 20%;
}
footer .content .info{
    display: flex;
    flex-direction: column;
}
footer .content .footer_links{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
footer .content .footer_links div{
    display: flex;
    flex-direction: column;
}

footer .footer_links div a{
    transition: 0.7s;
    text-decoration: none;
    color: var(--White);
}
footer .social a{
    transition: 0.7s;
    text-decoration: none;
    color: var(--White);
}
footer .social a:hover{
    color: var(--Cyan500);
}
footer .footer_links div a:hover{
    color: var(--Cyan500);
}