
:root{
    /*intro and email sign up background*/
    --Navy850: hsl(217, 28%, 15%);

    /*main background*/
    --Navy900:hsl(218, 28%, 13%);

    /*footer background */
    --Navy950: hsl(216, 53%, 9%);

    /*testimonials background*/
    --Navy800: hsl(219, 30%, 18%);

    /*inside call-to-action gradient*/
    --Teal200: hsl(176, 68%, 64%);
    --Cyan500: hsl(198, 60%, 50%);

    --Red500: hsl(0, 100%, 63%); /*error*/
    --White: hsl(0, 0%, 100%);
    
    /*default fonts*/
    /*Headings,Call-to-actions, Header Navigation*/
    --font-1: "Raleway", sans-serif;

    /*Body*/
    --font-2: "Open Sans", sans-serif;
}


@media screen and (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header{
        width: 90%;
        margin: auto;
    }
    .section_intro{
        height: 800px;
    }
    .section_intro .img_intro{
        width: 90%;
    }
    .section_intro .img_intro img{
        width: 100%;
    }
    .section_intro .btn_intro{
        font-size: 32px;
        width: 80%;
    }
    .section_advantages{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .section_advantages .advantage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .section_advantages .advantage .content_advantage{
        padding: 20px;
    }
    .section_advantages .img_advantage_bg img{
        width: 100%;
    }
}