
:root{
    /*intro and email sign up background*/
    --Navy850: hsl(217, 28%, 15%);

    /*main background*/
    --Navy900:hsl(218, 28%, 13%);

    /*footer background */
    --Navy950: hsl(216, 53%, 9%);

    /*testimonials background*/
    --Navy800: hsl(219, 30%, 18%);

    /*inside call-to-action gradient*/
    --Teal200: hsl(176, 68%, 64%);
    --Cyan500: hsl(198, 60%, 50%);

    --Red500: hsl(0, 100%, 63%); /*error*/
    --White: hsl(0, 0%, 100%);
    
    /*default fonts*/
    /*Headings,Call-to-actions, Header Navigation*/
    --font-1: "Raleway", sans-serif;

    /*Body*/
    --font-2: "Open Sans", sans-serif;
}


@media screen and (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.0em;
    }
    header{
        width: 90%;
        margin: auto;
    }
    .section_intro{
        height: 800px;
    }
    .section_intro .img_intro{
        width: 90%;
    }
    .section_intro .img_intro img{
        width: 100%;
    }
    .btn_start{
        font-size: 20px;
        width: 90% !important;
    }
    .section_advantages{
        display: flex !important; 
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 40px !important;
    }
    .section_advantages .advantage{
        display: flex !important; 
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        width: 100% !important;
    }
    .section_advantages .advantage .content_advantage{
        padding: 20px !important;
    }
    
    .section_advantages .advantage .content_advantage_productive{
        padding: 20px !important;
        text-align: start !important;
    }
    .section_advantages .advantage .content_advantage_productive p{
        margin-top: 15px !important;
        margin-bottom: 10px !important;
    }
    .section_advantages .advantage .content_advantage_productive a{
        display: block;
        display: flex;
        gap: 5px;
        text-decoration: none;
        color: var(--Teal200);
        border-bottom: 1px solid var(--Teal200);
        width: 35%;
    }

    .section_advantages .img_advantage_bg img{
        width: 100% !important;
    }


    .section_forms{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin: auto;
        background-color: var(--Navy900);
    }
    .section_forms .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    .section_forms .form form .email{
        padding: 10px;
        border-radius: 20px;
        width: 90%;
        margin: 10px;
    }

    .section_testimonials{
        flex-direction: column;   
    }

    footer{
        
    }

}